<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <style>
            #log_out_btn{
                background-color: white;
                color: rgba(212, 0, 255, 0.653);
                font-size: 33px;
                border-radius: 2rem;
                padding: 1rem;
                cursor: pointer;

               
            }
    </style>
</head>
<body>
    
    <h1 style="text-align:  center;">Welcome to <span style="color : rgba(212, 0, 255, 0.653)">Homepage</span></h1>
    <a href="/logout"> <button onclick="/logout" id = 'log_out_btn' >Logout</button></a>
    <script>
        const btn = document.getElementById('log_out_btn')
        btn.addEventListener('click',()=>{

        })
    </script>

</body>
</html>