 <div class="container">
      <div class="forms-container">
        <div class="signin-signup">
            <!-- signin section -->
          <form action="" class="signin-form" method="post">
            <h2 class="title">SignIn</h2>
            <div class="input-field">
              <i class="fa-solid fa-user"></i>
              <input type="text" placeholder="username" />
            </div>
            <div class="input-field">
              <i class="fa-solid fa-lock"></i>
              <input type="password" placeholder="password" />
            </div>
            <input type="submit" value="Login" class="btn" />
            <p class="social-text">or sign in with social media credentials</p>
            <div class="social-media">
              <a href="#" class="social-icon"
                ><i class="fa-brands fa-google"></i
              ></a>
              <a href="#" class="social-icon">
                <i class="fa-brands fa-facebook"></i>
              </a>
              <a href="#" class="social-icon"
                ><i class="fa-brands fa-twitter"></i
              ></a>
              <a href="#" class="social-icon"
                ><i class="fa-brands fa-linkedin"></i
              ></a>
            </div>
          </form>
          <!--
            signup section
          -->
          <form action="" class="signup-form" method="post">
            <h2 class="title">SignUp</h2>
            <div class="input-field">
              <i class="fa-solid fa-user"></i>
              <input type="text" placeholder="username" />
            </div>
            <div class="input-field">
                <i class="fa-solid fa-envelope"></i>
                <input type="text" placeholder="email" />
              </div>
              <div class="input-field">
                <i class="fa-solid fa-phone"></i>
                <input type="text" placeholder="phone" />
              </div>
            <div class="input-field">
              <i class="fa-solid fa-lock"></i>
              <input type="password" placeholder="password" />
            </div>
            <input type="submit" value="Signup" class="btn" />
            <p class="social-text">or sign up with social media credentials</p>
            <div class="social-media">
              <a href="#" class="social-icon"
                ><i class="fa-brands fa-google"></i
              ></a>
              <a href="#" class="social-icon">
                <i class="fa-brands fa-facebook"></i>
              </a>
              <a href="#" class="social-icon"
                ><i class="fa-brands fa-twitter"></i
              ></a>
              <a href="#" class="social-icon"
                ><i class="fa-brands fa-linkedin"></i
              ></a>
            </div>
          </form>


        </div>
      </div>
      <div class="pannel-container">
        <div class="pannel left-pannel">
            <!--left pannel -->
            <div class="content">
                <h3>New Here?</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta ratione dolorum ab dolores placeat corporis cumque sapiente officiis numquam.</p>
                <button class="btn transparent" id="sign-up-btn">
                    Sign Up
                </button>
                
            </div>
            <img src="/images/rocket.svg" alt="" class="image">

             
        </div>
        <div class="pannel right-pannel">

            <!--right pannel -->
            <div class="content">
                <h3>Already a member?</h3>
                 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta ratione dolorum ab dolores placeat corporis cumque sapiente officiis numquam. Recusandae earum magni nulla quidem neque est accusantium ad quo aliquid?</p> 
                <button class="btn transparent" id="sign-in-btn">
                    Sign In
                </button>
                
            </div>
            <img src="/images/desktop.svg" alt="" class="image">
        </div>
      </div>
    </div>
  